@use 'core' as *
@use 'timeline' as *
@use 'article' as *
@use 'socialArticle' as *
@use 'galleryArticle' as *
@use 'sidebar' as *

$fa-font-path: "/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss"
@import "../../node_modules/bulma/bulma.sass"

@include pretty-scrollbar

.input.is-static
	color: $text

.icon
	color: $white-ter

.dropdown-trigger .icon
	color: $text-strong

html
	overflow-y: hidden
	//height: -webkit-fill-available

//TODO Fix 100% height on mobile, maybe using -webkit-fill-available
body
	margin: 0
	height: 100vh
	//height: -webkit-fill-available
	display: flex
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

#timelineContainer
	height: 100%
	max-height: -webkit-fill-available
	overflow-x: scroll
	display: flex
	flex-grow: 1

#favviewer
	height: 100%